<form method="POST" action="/landmarks">
  <p>Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
  <button type="submit" id="Create New Landmark">Create</button> 
</form>